@media all and (max-width: 1200px) {
  .geo-icon {
    padding-left: 100px;
  }
}

@media all and (max-width: 768px) {
  .header-row a {
    font-size: 19px;
  }
  .geo-icon {
    padding-left: 10px;
  }
}

@media all and (max-width: 320px) {
}
