.modal {
  display: none; /* Скрыть модальное окно по умолчанию */
  position: fixed; /* Расположение модального окна фиксированное */
  z-index: 1; /* Поместить модальное окно на верхний уровень */
  left: 0;
  top: 0;
  width: 100%; /* Ширина модального окна на весь экран */
  height: 100%; /* Высота модального окна на весь экран */
  overflow: auto; /* Добавить прокрутку при необходимости */
  background-color: rgba(255, 255, 255, 0.726); /* Цвет фона полупрозрачный */
}

.modal-content {
  margin: auto;
  border: 1px solid #888;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
